<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #education_tr {
        width: 1200
    }

    body {
        display: flex;
    }

    h2 {
        text-align: center;
    }

    #basic_detail_div {
        justify-content: center;
        margin: auto;
        height: 600px;
        width: 950px;
        border: 1px solid lightGray;
        background-color: whiteSmoke;
        border-radius: 40px;
    }

    #basic_detail_table {
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    #work_exp_div {
        justify-content: center;
        margin: auto;
        width: 1300px;
        border: 1px solid;
        background-color: whiteSmoke;
        border-radius: 20px;
        border: 1px solid lightGray;
    }

    #education_detail_div {
        justify-content: center;
        margin: auto;
        width: 1250px;
        border: 1px solid;
        background-color: whiteSmoke;
        border-radius: 20px;
        border: 1px solid lightGray;
    }

    #language_detail_div {
        justify-content: center;
        margin: auto;
        border: 1px solid;
        width: 400px;
        background-color: whiteSmoke;
        border-radius: 20px;
        border: 1px solid lightGray;
    }

    #tech_detail_div {
        justify-content: center;
        margin: auto;
        border: 1px solid;
        width: 400px;
        background-color: whiteSmoke;
        border-radius: 20px;
        border: 1px solid lightGray;
    }

    #refrence_detail_div {
        justify-content: center;
        margin: auto;
        border: 1px solid;
        background-color: whiteSmoke;
        border-radius: 20px;
        border: 1px solid lightGray;
    }

    #prefrence_detail_div {
        justify-content: center;
        margin: auto;
        border: 1px solid;
        height: 100px;
        padding-bottom: 10px;
        background-color: whiteSmoke;
        border-radius: 20px;
        border: 1px solid lightGray;
    }
</style>

<body>
    <form action="/formdata" method="POST">
        <div id="basic_detail_div">
            <h2> Candidate Basic Detail</h2>
            <div>
                <table height=500px; width=800px; id="basic_detail_table">
                    <tr>
                        <td><label> First Name </label></td>
                        <td><input type="text" placeholder="Enter your name" name="first_name"
                                id="basic_detail_first_name"> </td>

                        <td><label> Last Name </label></td>
                        <td><input type="text" placeholder="Enter your last name" name="last_name"
                                id="basic_detail_last_name"> </td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td><label> Designation </label></td>
                        <td><input type="text" placeholder="Enter your designation" name="designation"
                                id="basic_detail_last_name"> </td>

                        <td><label> Address </label></td>
                        <td><textarea rows="5" cols="30 " id="basic_detail_address"
                                name="address">Enter your address </textarea></td>
                    </tr>
                    <tr>
                        <td><label> Email </label></td>
                        <td><input type="email" placeholder="Enter your email" name="email" id="basic_detail_email">
                        </td>

                        <td><label> Address 2</label></td>
                        <td><textarea rows="5" cols="30 " id="basic_detail_address2">Enter your address </textarea></td>
                    </tr>
                    <tr>
                        <td><label> Phone Number </label></td>
                        <td><input type="number" placeholder="Enter your number" name="phonenumber"
                                id="basic_detail_Phone_number"></td>

                        
                        <td><label> State </label></td>
                        <td>
                            <select id="basic_details_state" name="state">
                                <option value="" disabled selected hidden>Select city</option>
                                <% for(var i=0;i<state_data.length;i++) {%>
                                    <option value="<%= state_data[i].state_name %>">
                                        <%= state_data[i].state_name %>
                                    </option>
                                    <% }%>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label> Gender </label>
                        </td>

                        <td>
                            <input type="radio" id="basic_detail_male" name="gender" value="Male">
                            <label> Male </label>

                            <input type="radio" id="basic_detail_female" name="gender" value="Female">
                            <label> Female </label>

                            <input type="radio" id="basic_detail_other" name="gender" value="Others">
                            <label> Others </label>
                        </td>

                        <td><label> City </label></td>
                        <td>
                            <select id="basic_details_city" name="city">
                                <option value="" disabled selected hidden>Select city</option>
                                
                            </select>
                        </td>
                        <script>
                            // js for dynamic cities
                            var state = document.getElementById('basic_details_state');

                            state.addEventListener('click',()=>{

                                var s="";
                                var city = document.getElementById('basic_details_city');
                                console.log(state.value);

                                fetch(`/getformdata/city?stateName="${state.value}"`)
                                .then(res=>res.json())
                                .then((data)=>{
                                    console.log("then")
                                    for( var x of data)
                                    {
                                        s += ` <option value="" disabled selected hidden>Select city</option>
                                                <option value="${x.city_name}"> ${x.city_name}</option>`                                        
                                    }

                                    city.innerHTML = s;
                                }).catch((err)=>{console.log("catch");console.error(err)});

                            })
                        </script>
                    </tr>
                    <tr>
                        <td><label> Status </label></td>
                        <td>
                            <select id="basic_details_status" name="status">
                                <option value="" disabled selected hidden>Select status</option>
                                <% for(i=0;i<relation_ship_data.length;i++) {%>
                                    <option value="<%= relation_ship_data[i].option_value %>">
                                        <%= relation_ship_data[i].option_value %>
                                    </option>
                                    <% } %>
                            </select>
                        </td>

                        <td><label> Zip Code </label></td>
                        <td><input type="number" placeholder="Enter your zipcode" name="zip_code"
                                id="basic_detail_zipcode"></td>
                    </tr>
                    <tr>
                        <td><label> Birth Date </label></td>
                        <td><input type="date" name="dob" id="basic_detail_birthday"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="education_detail_div">
            <h2> Education Detail</h2>
            <table id="education_detail_table" width=1200px;>
                <p id="education_detail_btn" onclick="educationDetail()"
                    style="width:40px; height: 40px; background-color:mediumblue; border-radius: 20px; color: white; display: flex; justify-content: center; font-size: 36px;"
                    value="+">+</p>
                <tr id="education_tr">
                    <td><label> Course Name </label></td>
                    <td>
                        <select id="education_detail_course_name" name="course">
                            <option value="" disabled selected hidden>Select course</option>
                            <% for(i=0;i<course_data.length;i++) {%>
                                <option value="<%=course_data[i].option_value %>">
                                    <%= course_data[i].option_value %>
                                </option>
                                <% } %>
                        </select>
                    </td>

                    <td><label> University / Board </label></td>
                    <td>
                        <select id="education_detail_uni_board" name="university">
                            <option value="" disabled selected hidden>Select course</option>
                            <% for(i=0;i<uni_data.length;i++) {%>
                                <option value="<%= uni_data[i].option_value %>">
                                    <%= uni_data[i].option_value %>
                                </option>
                                <% } %>
                        </select>
                    </td>

                    <td><label> Percentage </label></td>
                    <td><input type="text" id="education_detail_percentage" name="percentage"
                            placeholder="Enter your percentage"></td>

                    <td><label> Passing Year </label></td>
                    <td><input type="text" id="education_detail_passing_yr" name="passing_year"
                            placeholder="Enter your passing year"></td>

                    <td>

                    </td>

                </tr>

            </table>
        </div>
        <div id="work_exp_div">
            <h2> work Experience</h2>
            <table id="work_exp_table">
                <p id="work_exp_btn" onclick="workExp()"
                    style="width:40px; height: 40px; background-color:mediumblue; border-radius: 20px; color: white; display: flex; justify-content: center; font-size: 36px;">+</p>
                <tr>
                    <td><label> Company Name </label></td>
                    <td><input type="text" id="work_exp_company_name" name="company_name" placeholder="Enter your company name"></td>

                    <td><label> Designation </label></td>
                    <td><input type="text" id="work_exp_designation" name="company_designation" placeholder="Enter your designation"></td>

                    <td><label> CTC </label></td>
                    <td><input type="text" id="work_exp_ctc" name="ctc" placeholder="Enter your ctc"></td>

                    <td><label> Joining Date </label></td>
                    <td><input type="date" name="joining_date" id="work_exp_join_date"></td>

                    <td><label> Leaving Date </label></td>
                    <td><input type="date" name="ending_date" id="work_exp_end_date"></td>

                    <td>

                    </td>

                </tr>

            </table>
        </div>
        <script>
            var educationCounter = 2;
            var workExpCounter = 2;
            function educationDetail() {



                var courseName = document.getElementsByName('course').value;
                var UniName = document.getElementById('education_detail_uni_board').value;
                var percentage = document.getElementById('education_detail_percentage').value;
                var passingYear = document.getElementById('education_detail_passing_yr').value;
                var educationTable = document.getElementById('education_detail_table');
                var newRow = document.getElementById('new_course');
                var educationTableString = " ";

                if (courseName == "" || UniName == "" || percentage == "" || passingYear == "") {
                    alert("field must be filled");
                }
                else {
                    //console.log("in else");
                    var tr = document.createElement("tr");
                    educationTableString += `
            
            <td><label> Course Name </label></td>
            <td>
                <select id="education_detail_course_name${educationCounter}" name="course">
                                            <option value="" disabled selected hidden>Select course</option>
                                            <% for(i=0;i<course_data.length;i++) {%>
                                                <option value="<%= course_data[i].option_value %>"><%= course_data[i].option_value %></option>
                                            <% } %>
                                        </select>
            </td>

            <td><label> University / Board </label></td>
            <td> <select id="education_detail_uni_board${educationCounter}" name="university">
                            <option value="" disabled selected hidden>Select course</option>
                            <% for(i=0;i<uni_data.length;i++) {%>
                                <option value="<%= uni_data[i].option_value %>">
                                    <%= uni_data[i].option_value %>
                                </option>
                                <% } %>
                        </select>
            </td>

            <td><label> Percentage </label></td>
            <td><input type="text"  id="education_detail_percentage${educationCounter}" name="percentage" placeholder="Enter your percentage"></td>

            <td><label> Passing Year </label></td>
            <td><input type="text"  id="education_detail_passing_yr${educationCounter}" name ="passing_year" placeholder="Enter your passing year"></td>
       
                
       
        `;
                    educationCounter++;
                    console.log(educationTableString);
                    tr.innerHTML += `${educationTableString}`;
                    educationTable.appendChild(tr);
                    //console.log(tableString);
                }
            }

            function workExp() {
                console.log("Hello World");
                var companyName = document.getElementById('work_exp_company_name').value;
                var designation = document.getElementById('work_exp_designation').value;
                var ctc = document.getElementById('work_exp_ctc').value;
                var joiningDate = document.getElementById('work_exp_join_date').value;
                var leavingDate = document.getElementById('work_exp_end_date').value;
                var expTableID = document.getElementById('work_exp_table');
                var expTableString = " ";

                if (companyName == "" || designation == "" || ctc == "" || joiningDate == "" || leavingDate == "") {
                    alert("Value must be filled");
                }
                else {
                    console.log("hello");
                    var tr = document.createElement("tr");
                    expTableString += `
                <td><label> Work Expereince </label></td>
                <td><input type="text" id="work_exp_company_name${workExpCounter}" name="company_name" placeholder="Enter your company name"></td>

                <td><label> Designation </label></td>
                <td><input type="text"  id="work_exp_designation${workExpCounter}" name="company_designation" placeholder="Enter your designation"></td>

                <td><label> CTC </label></td>
                <td><input type="text"  id="work_exp_ctc${workExpCounter}" name="ctc" placeholder="Enter your ctc"></td>

                <td><label> Joining Date </label></td>
                <td><input type="date" name="joining_date" id="work_exp_join_date${workExpCounter}"></td>

                <td><label> Leaving Date </label></td>
                <td><input type="date" name="ending_date" id="work_exp_end_date${workExpCounter}"></td>
              
                <td>
                     
                </td>
            `;
                    workExpCounter++;
                    console.log(expTableString);
                    tr.innerHTML += `${expTableString}`;
                    expTableID.appendChild(tr);
                }

            }
        </script>

        <hr>
        <div id="language_detail_div">
            <h2> Known Language</h2>
            <table id="language_detail_table">
                <% for(let i=0; i<language_data.length;i++){ %>
                    <tr>
                        <td>
                            <label>
                                <%= language_data[i].option_value %>
                            </label>
                            <input type="checkbox" id="<%= language_data[i].option_value %>" name="lang_name" value="<%= language_data[i].option_value %>">
                        </td>
                        
                        <td>
                            <label> Read </label>
                            <input type="checkbox" id="<%= language_data[i].option_value %>" value="<%= language_data[i].option_value %>" name="lang_read">
                        </td>
                        <td>
                            <label> Write </label>
                            <input type="checkbox" id="<%= language_data[i].option_value %>" value="<%= language_data[i].option_value %>" name="lang_write">
                        </td>
                        <td>
                            <label> Speak </label>
                            <input type="checkbox" id="<%= language_data[i].option_value %>" value="<%= language_data[i].option_value %>"  name="lang_speak">
                        </td>
                        
                    </tr>
                    <% } %>
            </table>
        </div>

        <hr>
        <div id="tech_detail_div">
            <h2> Known Technologies</h2>
            <table id="tech_detail_table">
                <% for(var i=0;i<tech_data.length;i++){ %>
                    <tr>
                        <td>
                            <label>
                                <%= tech_data[i].option_value %>
                            </label>
                            <input type="checkbox" id="<%= tech_data[i].option_value %>" value="<%= tech_data[i].option_value %>"
                                name="technology_name">
                        </td>
                        <td>

                            <input type="radio" id="beginer" value="Beginer" name="<%= tech_data[i].option_value%>">
                            <label> Beginer </label>
                        </td>
                        <td>

                            <input type="radio" id="Mideator" value="Mideator" name="<%=tech_data[i].option_value %>">
                            <label> Intermediate </label>
                        </td>
                        <td>

                            <input type="radio" id="expert" value="expert" name="<%=tech_data[i].option_value %>" >
                            <label> Advance </label>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
        <hr>
        <div id="refrence_detail_div">
            <h2> Refrence contact</h2>
            <table id="ref_detail_table">
                <tr>
                    <td><label> Name </label></td>
                    <td><input type="text" placeholder="Enter your name" name="ref_name" id="ref_detail_ref_name"> </td>


                    <td><label> Contact Number </label></td>
                    <td><input type="text" placeholder="Enter your number" name="ref_contact" id="ref_detail_number"> </td>


                    <td><label> Relation </label></td>
                    <td><input type="text" placeholder="Enter your relation" name="ref_relation" id="ref_detail_relation"> </td>
                <tr>
                <tr>
                    <td><label> Name </label></td>
                    <td><input type="text" placeholder="Enter your name" name="ref_name_2" id="ref_detail_ref_name2"> </td>


                    <td><label> Contact Number </label></td>
                    <td><input type="text" placeholder="Enter your number" name="ref_contact_2" id="ref_detail_number2"> </td>


                    <td><label> Relation </label></td>
                    <td><input type="text" placeholder="Enter your relation" name="ref_relation_2" id="ref_detail_relation2"> </td>
                <tr>
            </table>
        </div>
        <div id="prefrence_detail_div">
            <h2>Prefrences </h2>
            <table id="prefrence_detail_table">
                <tr>
                    <td>
                        <select id="prefrence_location" name="location">
                            <option value="" disabled selected hidden>Select location</option>
                            <% for(let i=0;i<location_data.length;i++) { %>
                                <option value="<%= location_data[i].option_value %>">
                                    <%= location_data[i].option_value %>
                                </option>
                                <% } %>
                        </select>
                    </td>
                    <td>
                        <label> Notice Period </label>
                        <input type="text" placeholder="Enter your period" id="pref_detail_period" name="notice_time">

                        <label> Expected CTC </label>
                        <input type="text" placeholder="Enter your CTC" id="pref_detail_expected_ctc" name="expected_ctc">

                        <label> Current CTC </label>
                        <input type="text" placeholder="Enter your CTC" id="pref_detail_current_ctc" name="current_ctc">
                    </td>
                    <td>
                        <select id="prefrence_department" name="department">
                            <option value="" disabled selected hidden>Select Department</option>
                            <% for(let i=0;i<department_data.length;i++) { %>
                                <option value="<%= department_data[i].option_value %>">
                                    <%= department_data[i].option_value %>
                                </option>
                                <% } %>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div id="submit_btn">
            <input type="submit" value="submit">
        </div>
    </form>
</body>

</html>